html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #555;
  font-family: 'Lato', sans-serif;
}

body.loading {
  overflow-y: hidden;
}

main {
  box-sizing: border-box;
  min-height: calc(100vh - 180px);
}

main, footer {
  padding: 0 60px;
}

footer {
  color: #ddd;
  font-size: 14px;
  text-align: center;
  height: 60px;
  padding: 60px 0;
}

footer a:hover
footer a:link,
footer a:active,
footer a:visited {
  color: inherit;
}

footer a:hover {
  color: #666;
}

h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 45px 0;
}

h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 15px 0;
}

a:link, a:visited, a:active {
  color: #4184B6;
  text-decoration: underline;
}

a:link:hover {
  opacity: .7;
  text-decoration: none;
}

.input {
  display: flex;
}

.input > div {
  flex: 1 1 50%;
}

.input > div:not(:first-child) {
  margin-left: 30px;
}

.input canvas {
  max-width: calc(50vw - 75px);
}

.output > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.output.hide {
  display: none;
}

#btn {
  font-size: 24px;
  background: #2575B0;
  color: #fff;
  text-align: center;
  margin: 45px auto;
  width: 400px;
  border-radius: 10px;
  padding: 15px;
  height: 40px;
  line-height: 40px;
  transition-property: opacity;
  transition-duration: 200ms;
}

#btn:hover {
  cursor: pointer;
  opacity: .9;
}

#btn.loading .message {
  display: none;
}

#btn:not(.loading) .spinner {
  display: none;
}

.spin-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, .9);
  color: #19B491;
}

.spin-wrap.hide {
  display: none;
}

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: currentColor;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@media screen and (min-width: 1280px) {
  main {
    width: 1280px;
    margin: 0 auto;
  }
  .input canvas {
    max-width: calc(640px - 75px);
  }
}
